#particles-js{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-image: url("black.jpeg");
}

h1{
    position: absolute;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: aliceblue;
}

