#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("black.jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure particles are behind content */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.home-center{
    position: absolute;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    padding: auto;
    color: aliceblue;
}

header img{
    height: 40px;
    width: 40px;
    margin-left: 0%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: orange;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-heading{
    display: flex;
    font-size: 60px;
    color: orange;
}

.Contact {

}